#home_navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background:rgb(192, 78, 97);
        }
#home_navbar h3{
            color:white;
            text-decoration:none;
        }